@import '../../style/variables.scss';

.Back {
  margin-top: 3.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 0.9;
  letter-spacing: -0.055em;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
}
