.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Experience {
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: var(--margin);
  width: fit-content;
  justify-content: center;

  @media (max-width: calc(1400em / 16)) {
    gap: 4rem;
  }

  @media (max-width: calc(400em / 16)) {
    gap: 2rem;
  }

  & > * {
    flex: 0 0 24rem;
  }
}

.card {
  width: 24rem;
  height: 24rem;
  border-radius: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--grey-3);
}
