@import '../../../style/variables.scss';

.Socials {
  margin: 14.4rem auto;
  width: 100%;
}

.content {
  padding-inline: 12.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  & > * {
    flex: 1 1 50rem;
  }
}

.Link {
  background-color: $primary;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;

  * {
    color: $white;
  }
}
