.Main {
  .section {
    margin: 0 auto;
    padding: var(--margin);

    h2 {
      margin-bottom: 3.2rem;
    }
  }

  .content {
    gap: 3.2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: calc(1400em / 16)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: calc(900em / 16)) {
      // width: 80%;
      gap: 1.6rem;
      grid-template-columns: repeat(1, 1fr);
      max-width: 48rem;
      margin-inline: auto;

      p {
        font-size: 1.5rem;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 2.4rem;
    background-color: var(--white);
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out;
    border: 0.1rem solid #eee;

    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0);
    flex: 1 0 25%;
    min-width: min(36rem, 100%);

    &:hover {
      box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.05);
    }

    & > div > span {
      border-radius: 2.4rem !important;
      user-select: none !important;
      border: 0.1rem solid #eee !important;
    }

    img {
      object-fit: cover;
    }

    p {
      padding: 2.4rem;
    }
  }
}
