@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-color: $clr-black;
  overflow: hidden;
  max-height: 100vh;
  overflow: hidden;

  @import '../components/glow';
  .glow {
    display: inline-block;
    z-index: 0;
  }

  .back {
    position: absolute;
    top: 4.8rem;
    left: 4.8rem;
    font-size: 2.4rem;
    z-index: 2;
    transition: all 0.1s ease-in-out;

    animation: back-btn 0.3s #{$tf} both;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    &:hover {
      cursor: pointer;
      color: $clr-blue;
    }

    &:focus-visible {
      outline: 3px solid $clr-blue;
      outline-offset: 12px;
      border-radius: 100vh;
    }
  }

  header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .code {
    font-size: 3.8rem;
    font-weight: 500;
    color: $clr-white;
    letter-spacing: -0.05em;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, sans-serif, Arial;

    animation: error-move 0.4s #{$tf} both;

    &__wrapper {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .message {
    font-size: 1.8rem;
    font-weight: 300;
    color: $clr-white;
    pointer-events: all;
    cursor: default;

    animation: message-move 0.6s #{$tf} both;

    &__wrapper {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .split {
    width: 2px;
    background-color: $clr-white;
    opacity: 0.75;
    height: 1.75em;

    animation: split-move 0.6s #{$tf} both;
  }

  header {
    font-size: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }
}
