$font-family: 'Outfit', sans-serif;
$font-family--code: 'Consolas', 'Anonymous Pro', monospace;
$font-size: 1.6rem;

$clr-black: #1b1d21;
$clr-white: #abb2bf;
$clr-grey: #7f848e;

$clr-text-dark: $clr-black;
$clr-text-light: $clr-white;

$clr-blue: #61afe3;
$clr-red: #ef596f;

$clr-footer: #202329;
$clr-footer: rgba(0, 0, 0, 0.15);
$clr-footer--highlight: #abb2bf1a;

$animation-delay: 0.3s;
$animation-social-outline: 1s;
$animation-social-icons: 0.2s;
$animation-menu-btns: 0.3s;

$breakpoints: (
  xs: calc(400em / 16),
  sm: calc(600em / 16),
  md: calc(900em / 16),
  lg: calc(1400em / 16),
  xl: calc(1800em / 16)
);

$blur-bg: rgba(0, 0, 0, 0.18);
$blur-backdrop-filter: blur(8px);

$transition-duration: 0.2s;
$transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);

$td: $transition-duration;
$tf: $transition-timing-function;

$border-radius: 0.8rem;

$title: clamp(6.4rem, 7vw, 9.6rem);
$title--small: clamp(4.4rem, 12vw, 6.4rem);

$about-wave-height: 16rem;
$about-wave-modifier: 1rem;

$about-wave-height: 0rem;
$about-wave-modifier: 0rem;
