.Error {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: 'stuff';
  align-items: center;
  justify-content: center;

  * {
    text-align: center;
  }

  .backgroundCode {
    font-family: var(--font-family);
    font-weight: 700;
    user-select: none;
    pointer-events: none;
    font-size: 30.8vw;
    line-height: 90%;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: calc(1600em / 16)) {
      font-size: 50rem;
    }

    @media (max-width: calc(1000em / 16)) {
      font-size: 48vw;
    }

    @media (max-width: calc(600em / 16)) {
      font-size: 28rem;
    }

    @media (max-width: calc(480em / 16)) {
      font-size: 24rem;
    }

    @media (min-width: calc(3200em / 16)) {
      font-size: 98rem;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    @media (max-width: calc(640em / 16)) {
      flex-direction: column;
    }

    @media (max-width: calc(400em / 16)) {
      gap: 1.2rem;
    }

    .code {
      font-family: var(--font-family);
      font-weight: 100;
      font-size: 15.5rem;
      line-height: 90%;
      letter-spacing: -0.03em;
      color: var(--black);

      @media (max-width: calc(1200em / 16)) {
        font-size: 12rem;
      }
    }

    br {
      display: none;
    }

    .message {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 6.2rem;
      letter-spacing: -0.01em;

      color: var(--black);

      @media (max-width: calc(1200em / 16)) {
        font-size: 4.8rem;
      }

      @media (max-width: calc(480em / 16)) {
        br {
          display: unset;
        }
      }
    }
  }

  & > * {
    grid-area: stuff;
  }
}
