// psuedo body element for only portfolio pages
.Portfolio {
  font-family: var(--font-family);
  color: var(--black);
  box-sizing: border-box;
  font-size: 1.8rem;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--white);

  ::selection {
    background-color: var(--light-selection);
  }

  @import '../../style/typography.scss';

  --margin: 12.8rem;

  @media (max-width: calc(1200em / 16)) {
    --margin: 6.4rem;
  }

  @media (max-width: calc(800em / 16)) {
    --margin: 3.2rem;
  }

  @media (max-width: calc(400em / 16)) {
    --margin: 2.4rem;
  }
}
