.header {
  min-height: calc(100vh + #{$about-wave-height});
  position: relative;

  &__contents {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: calc((100% - #{$about-wave-height}) / 2);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  &__glow {
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(ellipse at center, rgba(0, 153, 255, 0.2) 0%, transparent 70%);
    width: 100vw;
    min-width: 100vw;
    min-height: 150vh;
    filter: none;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;

    @include mq(md) {
      width: 48rem;
    }

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    user-select: none;
  }

  &__sub-contents {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    z-index: 1;
  }

  &__string {
    color: $clr-blue;
    width: fit-content;

    animation: header-string-1 0.5s $tf both;

    &--2 {
      align-self: flex-end;

      animation: header-string-2 0.5s $tf both;
    }
  }

  &__name {
    font-size: $title;
    font-weight: 400;
    letter-spacing: -0.05em;

    animation: name 0.5s $tf both;

    br {
      display: none;
    }

    @include mq(sm) {
      line-height: 0.9;
      font-size: 10rem;
      margin-bottom: 0.15em;

      br {
        display: unset;
      }
    }
  }

  &__tag {
    @include mq(sm) {
      display: none;
    }

    &--open {
      transform: translate(-50%, -100%);
      animation: header-tag-1 0.5s $tf both;
    }

    &--close {
      transform: translate(-50%, 100%);
      animation: header-tag-2 0.5s $tf both;
    }

    &--wrapper {
      width: fit-content;
    }
  }

  &__socials {
    position: absolute;
    left: 0;
    bottom: $about-wave-height;

    @include mq(xs) {
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--outline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 3.6rem;
      height: 12.4rem;
      border-right: 2px solid $clr-grey;
      border-bottom: 2px solid $clr-grey;

      animation: socials-line $animation-social-outline both;

      @include mq(md) {
        display: none;
      }
    }
  }
}

.name-break {
  display: none;
}
