.menu {
  $right: 4.8rem;
  position: fixed;
  bottom: 2.4rem;
  padding-right: $right;
  right: 0;
  width: fit-content;
  height: fit-content;
  z-index: 100;

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    transition: all 0.2s #{$tf};

    & li {
      list-style: none;
    }
  }

  &__btn {
    background-color: black;
    color: $clr-white;
    border-radius: 50%;
    border: 0;
    padding: 0.4rem;
    width: 4.6rem;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: background-color 0.2s #{$tf}, box-shadow 0.2s #{$tf};
    box-shadow: 0.4rem 0.4rem 1rem rgba(black, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    @for $i from 1 through 5 {
      &--#{$i} {
        animation: down-up $animation-menu-btns ease-in-out both;
        animation-delay: calc(#{$animation-delay} + (#{$i} * 0.3 * #{$animation-menu-btns}));
      }
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--active {
      box-shadow: 0 0 2rem rgba($clr-red, 0.5);
      background-color: $clr-red;
    }

    &:hover,
    &:focus-visible {
      box-shadow: 0 0 2rem rgba($clr-red, 0.5);
      background-color: $clr-red;
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid $clr-white;
      outline-offset: -6px;
      border-radius: 100vh;
    }

    & > * {
      width: 2rem;
      height: 2rem;
    }
  }
}

.top {
  @include mq(md) {
    display: flex !important;
  }
}

.not-top,
.top {
  @include mq(md) {
    display: none;
  }

  @include mq(sm) {
    display: flex;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  @include mq(sm) {
    display: none;
  }
}
