section.codepen {
  margin-top: 12rem;

  .bg-text {
    color: $clr-white;
    opacity: 0.1;
    font-size: 14.4rem;
    font-weight: 400;
    letter-spacing: -0.075em;
    line-height: 1.4;
    position: absolute;
    top: 0;
    left: 0;

    @include mq(sm) {
      top: 3.2rem;
      font-size: 9.6rem;
    }
  }

  .section {
    padding: 9.6rem;
    padding-top: 12rem;
    background: linear-gradient(to top, $clr-deep-blue, transparent);
    display: flex;
    gap: 2.4rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    @include mq(md) {
      padding-inline: 3.2rem;
    }

    @include mq(xs) {
      padding-inline: 1.2rem;
    }

    & > * {
      flex: 1 1 36rem;
    }
  }

  .contents {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    max-width: calc(1800em / 16);

    & > * {
      flex: 1 0 32rem;
      min-width: 30%;
    }

    .card {
      background: $blur-bg;
      backdrop-filter: $blur-backdrop-filter;
      border-radius: $border-radius;
      box-shadow: 0 1rem 2.4rem 0 rgba(black, 0.14);
      transition: all 0.2s ease-in-out;

      display: flex;
      justify-content: space-between;
      align-items: center;

      overflow: hidden;
      padding: 1.6rem;

      &:hover {
        transform: translateY(-5%);
        box-shadow: 0 1rem 3.2rem 0 rgba(black, 0.24);
      }

      &__img {
        object-fit: cover;
        aspect-ratio: 1;
        width: 7.5rem;
        border-radius: $border-radius;
      }
    }
  }
}
