.experience {
  padding: $margin;

  h3 {
    padding-bottom: 2.4rem;
    border-bottom: 0.2rem solid $clr-grey;
  }

  .content {
    margin-top: 9.6rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  h5 {
    margin-bottom: 1.2rem;
  }

  p {
    max-width: 84rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-left: 2.8rem;

    li {
      list-style: none;
      position: relative;

      &::before {
        content: '-';
        position: absolute;
        top: 50%;
        left: -1.75rem;
        transform: translateY(-50%);
        opacity: 0.5;
      }
    }
  }

  .glow {
    position: absolute;
    width: 28rem;
    aspect-ratio: 1;
    left: 75%;
    top: 60%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: $clr-blue;
    filter: blur(50rem);
    transition: all 0.4s $tf;
  }
}
