.stacks {
  position: relative;

  & > * {
    display: flex;
    gap: 12.8rem;
    justify-content: center;
    height: 200vh;

    @include mq(lg) {
      justify-content: unset;
      padding: $margin;
    }

    @include mq(md) {
      padding: $margin 3.2rem;
    }
  }

  .target {
    position: absolute;
    top: 75%;
  }

  p {
    max-width: 70rem;
    position: relative;
    transition: all 0.3s $tf;
  }

  h2 {
    transition: all 0.3s $tf;
  }

  .glow {
    position: absolute;
    width: 28rem;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: $clr-purple;
    filter: blur(50rem);
    transition: all 0.4s $tf;

    &.backend-glow {
      background: rgba($clr-blue, 1);
    }
  }

  .img {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      @include mq(lg) {
        display: none;
      }
    }
  }

  .h2 {
    display: grid;
    grid-template-areas: 'h';

    & > * {
      grid-area: h;
    }
  }

  .paragraph {
    display: grid;
    grid-template-areas: 'p';

    & > * {
      grid-area: p;
    }
  }

  .content {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
