.directions {
  z-index: 2;
  position: fixed;
  bottom: 2.4rem;
  right: 2.4rem;
  color: $clr-white;
  stroke: $clr-white;
  fill: $clr-white;
  padding: 2.4rem;

  @include mq(sm) {
    bottom: 25px;
    right: 25px;
    padding: 0;
  }

  @include mq(xs) {
    bottom: 25px;
    right: 50%;
    padding: 0;
    transform: translate(50%);
  }

  button {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    outline: none;
    border: none;
    color: inherit;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    transition: all 0.2s #{$tf};

    li {
      border: 2px solid rgba($clr-white, 0.5);
      border-radius: 100vh;
      position: relative;

      color: $clr-white;
      padding: 0.4rem;
      width: 4.8rem;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      transition: all 0.3s $tf;
      box-shadow: 0.4rem 0.4rem 1rem rgba(black, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      backdrop-filter: blur(4px);

      &:hover,
      &:focus-visible {
        .tooltip {
          color: rgba($clr-white, 0.75);
          border: 2px solid rgba($clr-white, 0.5);
          backdrop-filter: blur(4px);
          box-shadow: 0.6rem 0.6rem 1rem rgba(black, 0.2);
        }
      }

      .tooltip {
        &__container {
          display: unset;
          transition: all 0.3s $tf;
          position: absolute;
          top: -1.6rem;
          left: 0;
          transform: translateY(-100%);
          pointer-events: none;
        }

        box-sizing: content-box;
        padding: 0.8rem 1rem;
        border-radius: 100vh;
        transition: all 0.2s $tf;
        width: max-content;
        transform-origin: 24px 50%;
        box-shadow: 0.6rem 0.6rem 1rem rgba(black, 0);
        transform: rotate(-60deg);

        color: transparent;
        border: 2px solid rgba($clr-white, 0);
        backdrop-filter: blur(0px);
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
      }

      &:hover > *:not(.tooltip__container) {
        outline: 2px solid $clr-blue;
        color: $clr-blue;
      }

      & > * {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transition: all 0.2s $tf;
        outline: 2px solid transparent;

        &:focus-visible {
          outline: 2px solid $clr-blue;
          color: $clr-blue;
        }
      }

      &,
      & > *,
      & > * > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.pulse {
  animation: pulse 0.8s ease-in-out;
}

@keyframes pulse {
  from {
    outline: 0.2rem solid transparent;
    color: $clr-white;
  }

  50% {
    outline: 0.2rem solid $clr-blue;
    color: $clr-blue;
  }

  to {
    outline: 0.2rem solid transparent;
    color: $clr-white;
  }
}
