@import '../../../src/style/variables.scss';

.FreeTime {
  display: grid;
  grid-template-areas: 'stuff';
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  position: relative;

  margin: 0 auto;
  max-width: 100%;
  padding-block: 12rem;

  &,
  * {
    color: var(--white) !important;
  }

  & > * {
    grid-area: stuff;
  }

  a {
    color: var(--white);
    font-weight: 600;
    font-size: 2.4rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--white);
    width: fit-content;
  }
}

.content {
  max-width: calc(64rem + (2 * var(--margin)));
  margin: 0 auto;
  padding-inline: var(--margin);

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-block: 24rem;

  @media (max-width: calc(600em / 16)) {
    margin-block: 18rem;
  }
}

.circle {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 100%;
  background: var(--black);
  width: 96rem;
  height: 96rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-shadow: 0 1.4rem 7rem rgba(0, 0, 0, 0.25);

  @media (max-width: calc(600em / 16)) {
    width: 84rem;
    height: 84rem;
  }
}
