$font-family: 'Helvetica Neue', 'Helvetica', 'Inter', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

// $primary: #244598;
$primary: #000;
$grey: #f5f5f5;
$white: #fff;
$black: #000;

$max-width: 180rem;
