.socials {
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  svg {
    stroke: rgba($clr-white, 0.8);

    path {
      stroke-dasharray: 1000;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;

    svg,
    svg * {
      transition: all 0.1s $tf, outline-offset 0s, border-radius 0s;
    }

    & > *,
    & > * > *,
    & > * > * > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg,
    a {
      height: 3.2rem;
      width: 3.2rem;
      color: rgba($clr-white, 0.8);
      fill: currentColor;
      transition: all 0.1s $tf;
      outline: 2px solid transparent;
      outline-offset: 1rem;

      &:hover,
      &:hover * {
        color: $clr-blue;
        stroke: $clr-blue;
        fill: $clr-blue;
      }

      &:focus-visible {
        outline: 0.2rem solid rgba($clr-white, 0.8);
        border-radius: 100%;

        &,
        & * * {
          fill: $clr-blue;
          color: $clr-blue;
          stroke: $clr-blue;
        }
      }
    }
  }
}
