a:focus-visible .card {
  transform: scale(1.03) translateY(-2%);
  box-shadow: 0 1.4rem 2.4rem 0 rgba(black, 0.12);
}

a.no-outline:focus-visible {
  outline: 0;
}

.card {
  // max-width: 36rem;
  background: $blur-bg;
  backdrop-filter: $blur-backdrop-filter;
  padding: 6.4rem 4.8rem;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  justify-content: space-between;
  transition: all 0.2s $tf;
  box-shadow: 0 1rem 2.4rem 0 rgba(black, 0.07);
  height: 100%;

  &:hover,
  &:focus-visible {
    transform: scale(1.03) translateY(-2%);
    box-shadow: 0 1.4rem 2.4rem 0 rgba(black, 0.12);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2;
  }

  &__text {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2;
  }

  .tag {
    transform: translate(-30%, -100%);

    &:last-of-type {
      align-self: flex-end;
      transform: translate(20%, 100%);
    }
  }
}
