@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin title() {
  font-size: $title;
  font-weight: 400;
  letter-spacing: -0.05em;

  br {
    display: none;
  }

  @include mq(sm) {
    line-height: 0.9;
    font-size: 12rem;
    margin-bottom: 0.15em;

    br {
      display: unset;
    }
  }
}
