.Socials {
  margin: var(--margin) auto;
  width: 100%;
}

.content {
  padding-inline: var(--margin);
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;

  @media (max-width: calc(400em / 16)) {
    gap: 1.6rem;
  }

  & > * {
    flex: 1 1 50rem;
  }
}

.Link {
  border: 0.1rem solid var(--grey-3);
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0);

  &:hover {
    box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.05);
  }

  * {
    color: var(--black) !important;
    fill: var(--black) !important;
  }
}
