@import '../../../src/style/variables.scss';

.Quote {
  margin: 12rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  z-index: 1;
  margin-bottom: 18.5rem;
}

.text {
  max-width: 90rem;
}

.Quotation {
  position: absolute;
  bottom: calc(100% + 2.4rem);
  left: 0;
  transform: translateX(-30%);
}

.cite {
  align-self: flex-end;
  width: fit-content;
  position: relative;
}

.description {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: right;
  letter-spacing: -0.055em;
}

.name {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 2.4rem !important;
  text-align: right !important;
  letter-spacing: -0.055em !important;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42rem;
  height: 42rem;
  border-radius: 100%;
  background: $grey;
  z-index: -1;
}
