@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin waves() {
  position: relative;
  width: 100%;
  aspect-ratio: 1440 / 154;
  color: $clr-deep-blue;
  stroke: currentColor;
  fill: currentColor;

  & .visible-wave {
    // This one is shown with position: absolute to use z-index
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  & .invisible-wave {
    // This one maintains size
    position: relative;
    opacity: 0;
  }
}
