.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  margin-left: 16rem;
  margin-bottom: 16rem;

  @include mq(sm) {
    margin-left: unset;
    margin: 0 auto;
    margin-bottom: 16rem;
  }

  &__glow {
    position: absolute;
    aspect-ratio: 1 / 1;

    left: 0;
    top: 0;

    transform: translate(-50%, -50%);

    border-radius: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 153, 255, 0.15) 10%, transparent 70%);
    width: 120vw;
    filter: none;
    z-index: -1;
    pointer-events: none;

    animation: experience-grow 1.5s #{$tf} both;

    @include mq(lg) {
      background: #0099ff;
      filter: blur(35rem);
      width: 44rem;
      max-width: 100vw;

      animation: experience-grow2 1.5s #{$tf} both;
    }

    @include mq(md) {
      width: 48rem;
    }

    z-index: -2;
    user-select: none;
  }

  &__string {
    color: $clr-blue;
    width: fit-content;

    animation: header-string-1 0.5s #{$tf} both;
  }

  &__title {
    font-size: $title;
    font-weight: 400;
    letter-spacing: -0.05em;

    animation: name 0.5s #{$tf} both;
  }

  &__tag {
    @include mq(xs) {
      display: none;
    }

    width: fit-content;

    &--1 {
      transform: translate(-50%, -100%);

      animation: header-tag-1 0.5s #{$tf} both;
    }

    &--2 {
      transform: translate(-50%, 100%);

      animation: header-tag-2 0.5s #{$tf} both;
    }
  }
}

.experience-section {
  margin-top: 0;
  padding: 9.6rem;

  background: linear-gradient(to bottom, rgba(16, 48, 86, 1), rgba(16, 48, 86, 0) 100%);
  width: 100%;
  align-items: stretch;
  justify-content: stretch;
  gap: 1.2rem;

  animation: down-to-up 0.5s #{$tf} both;

  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 42rem;
  }

  @include mq(md) {
    padding: 0 2.4rem;
    padding-bottom: calc(9.6rem + #{$about-wave-height});
  }

  &__wave {
    overflow: hidden;
    aspect-ratio: 1440 / 154;
    color: rgba(16, 48, 86, 1);
    stroke: currentColor;
    fill: currentColor;
    transform: rotate(180deg) rotateY(180deg);
    min-height: 12rem;

    &--hidden {
      background-color: transparent;
    }

    &--visible {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: 1;
    }

    &--wrapper {
      position: relative;
      overflow: hidden;

      animation: down-to-up 0.5s #{$tf} both;
    }
  }

  &__card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: all 0.3s ease-in-out;

    &__side {
      background: rgba(0, 0, 0, 0.15);
      padding: 6.4rem;
      outline: 5px solid $clr-white;
      outline-offset: -3.2rem;
      transition: all 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6.4rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      backface-visibility: hidden;

      .experience-card {
        &__description {
          font-weight: 300;
          font-size: 1.6rem;
          line-height: 1.8;
          letter-spacing: -0.045em;
        }

        &__title {
          font-weight: 300;
          font-size: 3.6rem;
          line-height: 125%;
          letter-spacing: -0.045em;
        }
      }

      &--2 {
        transform: rotateY(180deg);
        justify-content: flex-start;
        gap: 1.2rem;
        padding: 4.8rem;
      }
    }

    &--icon {
      align-self: flex-end;
      max-height: 12rem;

      @include mq(md) {
        max-width: 90%;
      }
    }

    &--title {
      font-style: normal;
      font-weight: normal;
      font-size: 4.8rem;
      line-height: 125%;
      letter-spacing: -0.045em;
    }

    &--wrapper {
      display: flex;
      align-items: stretch;
      justify-content: stretch;

      &:hover .experience-section__card__side {
        outline-offset: -1.6rem;

        &--1 {
          transform: rotateY(180deg);
        }

        &--2 {
          transform: rotateY(0deg);
        }
      }
    }
  }
}

.experience__link {
  color: $clr-blue;
  text-decoration: underline;
  font-weight: 400;
}
