.Main {
  .section {
    margin: 0 auto;
    padding: var(--margin);

    h2 {
      margin-bottom: 3.2rem;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
  }

  .Card {
    display: flex;
    flex-direction: column;
    border-radius: 2.4rem;
    background-color: var(--white);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border: 0.1rem solid #eee;

    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0);
    flex: 1 0 25%;
    min-width: min(36rem, 100%);
    max-width: 50%;

    &:hover {
      box-shadow: 0 1.2rem 1.6rem rgba(0, 0, 0, 0.05);
    }

    svg {
      object-position: center;
      width: 100%;
      border-radius: 2.4rem;
      user-select: none;
      border: 0.1rem solid #eee;
    }

    p {
      padding: 2.4rem;
    }
  }
}

.Page {
  .back {
    width: 100%;
    max-width: 96rem;
    margin: 0 auto;
  }

  .blog {
    margin-block: 6.4rem;
    padding-inline: var(--margin);
  }
}
